.tabsdemoStaticTabs md-tab-content {
  padding: 25px; }
  .tabsdemoStaticTabs md-tab-content:nth-child(1) {
    background-color: #42A5F5; }
  .tabsdemoStaticTabs md-tab-content:nth-child(2) {
    background-color: #689F38; }
  .tabsdemoStaticTabs md-tab-content:nth-child(3) {
    background-color: #26C6DA; }

.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0; }
  .tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
    .tabsdemoDynamicHeight md-content md-tabs {
      background: #f6f6f6;
      border: 1px solid #e1e1e1; }
      .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
        background: white; }
    .tabsdemoDynamicHeight md-content h1:first-child {
      margin-top: 0; }
body{
      background: #eee;
}
md-card-content>ul{
  list-style: none;
   padding: 0;
   margin: 0
}
.comment {
  text-align: center;
  font-size: 30px;
  color: #212121;
}
.commentUser{
  border: solid black 15px;
  margin-bottom: 20px;
}
.fa-5{
  margin-left: 95%;
  font-size: 50px;
}
md-card-content>ul>li{
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
    display: -webkit-inline-box;
    width: 48%;
}
.active {
    background-color: #FFF;
    color: #000;
}
.button{
  position: fixed;
      bottom: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      left: 0px;
}
md-card-footer{
  background: #F44336;
}
md-input-container{
  background: #fff;
}
md-button{
  background: #D32F2F;
}
md-button, [ng-if="!hideComment"]{
  background: #fff;
  width: 100%;
}
[ng-click="likes()"]{
  text-align: center;
}
#mainView {
    border: 1px solid black;
    padding: 0 1em;
}
/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/
