<div class="tabsdemoDynamicHeight" ng-cloak>
  <md-content >
    <md-card flex-gt-md="100" flex-gt-sm="100" class="md-default-theme" ng-repeat="user in users">
      <md-card-content >
          <img class="md-card-image" ng-src="{{user.avatar}}" alt="image caption">
          <h1>{{user.username }}</h1>
          <h3>{{user.status}}</h3>
        <ul>
          <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" >{{tab.title}}</li>
        </ul>
        <div id="mainView">
          <div ng-include="currentTab"></div>
        </div>

      </md-card-content>
    </md-card>

  </md-content>
</div>
<script type="text/ng-template" id="one.tpl.html">
  <div flex="100" id="viewOne" ng-click="">
    <div class="" ng-if="user.comments.length === 0">
      <p>
        no comments
      </p>
    </div>
    <div class="commentUser" ng-repeat="comment in user.comments" ng-click="commentHide()">
      <h1 alt="No name">{{comment.username || "Unregistered user"}}  </h1>
      <img ng-src="{{comment.avatar}}" alt="No image" />
      <p>
      {{comment.text}}
      <i class="fa fa-trash fa-5" ng-click="deletePost($index, user.comments)"></i>
      </p>
      <md-card class="button" ng-show="button">
        <md-card-footer>
        <div class="md-actions" layout="row" layout-align="center">
          <md-input-container ng-if="hideComment" class="md-block flex-gt-sm md-input-invalid" flex-gt-sm=""  >
          <label class="comment">Comment</label>
          <input  required="" name="comment" ng-model="user.comment">
        </md-input-container>
        <md-button ng-if="hideComment" ng-disabled="user.comment === ''" ng-click="postAdd(user.comments)">Post</md-button>
         <div class="" ng-if="!hideComment" ng-click="likes()">
          <md-button  ng-hide="like">like</md-button>
          <md-button ng-show="like" >Unlike</md-button>
        </div>
        </div>
        </md-card-footer>
      </md-card>
    </div>
  </div>

</script>

<script type="text/ng-template" id="two.tpl.html">
  <div flex="100" id="viewTwo">
   <div class="likes" ng-repeat="like in user.likes">
     <h3>
       {{like.username || "Unregistered user"}}
     </h3>
     <img ng-src="{{like.avatar}}" alt="No image" />
     <i class="fa fa-trash fa-5" ng-click="deletePost($index, user.likes)"></i>
     <p>
       <i class="fa fa-trash fa-5"></i>
     </p>
     <md-card class="button" ng-show="button">
       <md-card-footer>
        <div class="" ng-if="!hideComment" ng-click="likes(user.likes)">
         <md-button  ng-hide="mylike">like</md-button>
         <md-button ng-show="mylike" >Unlike</md-button>
       </div>
       </div>
       </md-card-footer>
     </md-card>
   </div>
  </div>
</script>
